/* footer.css */
footer {
    background-color: #f5f0e1; /* Light beige background */
    padding: 50px 20px;
    color: #783b31; /* Dark brown text */
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-column {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.footer-column h3 {
    font-size: 18px;
    color: orange;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    color: orange;
    margin: 0;
}

footer a {
    color: #783b31;
    text-decoration: none;
}

footer a:hover {
    color: #d1a20b; /* Gold color for hover */
}
